.App {
  text-align: center;
  line-height: 200px;
  height:200px;
  margin: 0;
}

#main-heading img {
  float:left;
  margin-left: 25px;
  position: relative;
}

img {
  height: 200px;
}

.content {
  margin: 25px;
}

table, tr, th, td {
  border-collapse: collapse;
  border: 1px solid black;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #699ac1;
  width: 100%;
}

nav > ul > li {
  display: inline;
  float: left;
}

nav > ul > li > a {
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: royalblue;
}

.active {
  background-color: #4CAF50;
}

.image-gallery-image {
  height: auto;
  width: 70%;
}

.image-gallery-image {
  margin: 0 auto; 
}

.image-gallery-thumbnail img {
  height: auto;
}

.image-gallery-slide {
  margin: 0 auto; 
}

.image-gallery-slide img {
  height: auto;
}

.image-gallery-thumbnails-container {
  padding-top: 15px;
}